.wrapper {
  position: relative;
}

.input {
  height: 3rem;
  padding-inline: 1rem;
  border: 1px solid var(--clr-gray-300);
  border-radius: 0.5rem;
  width: 100%;
  color: var(--clr-gray-800);
  appearance: none;
  transition:
    border-color 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
}

.input:is(.has-icon) {
  padding-left: 2.5rem;
}

.input:is(.has-error) {
  border-color: var(--clr-danger);
}

.input:is(.has-error):focus-visible {
  outline: none;
  box-shadow: 0 0 2rem 0 color-mix(in srgb, var(--clr-danger) 25%, white);
}

.input:not(.has-error):hover {
  border-color: var(--clr-primary-400);
}

.input:not(.has-error):focus-visible {
  outline: none;
  border-color: var(--clr-primary-400);
  box-shadow: 0 0 2rem 0 color-mix(in srgb, var(--clr-primary-400) 25%, white);
}

.input::placeholder {
  color: var(--clr-gray-800);
  opacity: 0.5;
}

.label {
  color: var(--clr-gray-800);
}

.label:is(.has-error) {
  color: var(--clr-danger);
}

.icon {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.error {
  position: absolute;
  right: 1px;
  bottom: 1px;
  background: linear-gradient(to right, transparent 0%, var(--clr-white) 20%);
  display: flex;
  align-items: center;
  padding-inline: 2rem 1rem;
  height: calc(3rem - 2px);
  border-radius: 0 0.5rem 0.5rem 0;
  color: var(--clr-danger);
}
