:root {
  --clr-primary-400: hsl(252, 100%, 62%);
  --clr-primary-300: hsl(252, 100%, 84%);
  --clr-primary-100: hsl(252, 100%, 96%);
  --clr-gray-800: hsl(0, 0%, 20%);
  --clr-gray-400: hsl(0, 0%, 45%);
  --clr-gray-300: hsl(0, 0%, 85%);
  --clr-gray-100: hsl(0, 0%, 98%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-danger: hsl(0, 100%, 61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: unset;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: var(--clr-gray-400);
  background-color: var(--clr-gray-100);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  color: var(--clr-primary-400);
  text-decoration: none;
}

a:is(:hover, :focus-visible) {
  outline: none;
  text-decoration: underline 2px;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
